---
export const prerender = true;
import { Image } from 'astro:assets'
const town = "Bobbingworth";

import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../../components/Content/ImageOnRight.astro"; 
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import GetaQuote from "../../components/GetaQuote.astro";

import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import LargeTitle from "../../components/Headings/LargeTitle.astro";
import UspSection from "../../components/Usp.astro";
import SmallSubTitle from "../../components/Headings/SmallSubTitle.astro";

import Areas from "../../components/areas.astro";
import blockBg from "../../assets/images/block-bg1.png";

import heroBg from "../../assets/images/block1.png";
import extension3 from "../../assets/images/extension3.png";
import fence1 from "../../assets/images/fence1.png";
import returf1 from "../../assets/images/returf2.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn2.png";
import design1 from "../../assets/images/design1.png";
import resinDrive2 from "../../assets/images/drive2.png";
import resinPatio1 from "../../assets/images/patio1.png";
import block from "../../assets/images/block1.png";
import tarmac from "../../assets/images/tarmac1.png";
import Patio6 from "../../assets/images/patio-img-6.png";
import Landscape1 from "../../assets/images/landscape1.png";
import grassBg from "../../assets/images/grassbg1.png";
import resinImg1 from "../../assets/images/artificial1.pngresin-img-2.png";
import resin from "../../assets/images/resin-close.png";
import Patio2 from "../../assets/images/patio-img-2.png";
import resinImg2 from "../../assets/images/resin-img-landscape.png";
import BlockDrive1 from "../../assets/images/blockpaving1.png";
import block3 from "../../assets/images/block-img-3.png";
import block2 from "../../assets/images/block-img-2.png";

import extension9 from "../../assets/images/extension9.png";
import extension7 from "../../assets/images/extension7.png";
import clearance from "../../assets/images/clearance.png";
---

<Layout title={`Block Paving Driveways Bobbingworth | Bespoke Driveways and Landscaping`} description={`Stunning Block Paving Driveways in Bobbingworth. Extremely durable and easy to maintain. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>




<Hero
title="Block Paving Driveways Bobbingworth"
sub="Versatile & Stylish Driveway Solutions in Bobbingworth"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="mt-6 lg:text-2xl">
    A block paving driveway from is the perfect
    option if you're looking to add some style and individuality to
    your home.
  </p> 
  <p class="mb-4 lg:text-2xl">
    With a huge range of patterns and colours available,
    giving you complete control over how they appear and creating your
    own bespoke design that's unique to your property and will enhance
    your kerb appeal.
  </p> 


  
</div>  
</Hero>

<Areas />


	<ImageOnRight
    
   title="Block Paving Driveways Bobbingworth"
    image={BlockDrive1}
    imageAlt="Block Paving Driveways"
    height={700} 
    width={500}
 
  >
    <Fragment slot="content" >
    
      
        <p class="mb-4">
            Block paving is perfect for homeowners in Bobbingworth who want a
            low-maintenance solution that will last for years. Our block paving
            is also durable and easy to clean, so you can enjoy your new outdoor
            space with minimal effort.
      </p>
      <p class="mb-4">
        A driveway is an important part of a home. It provides a safe and
        convenient place for vehicles to park and can also add value to a
        home. A driveway should be durable and able to withstand the weight
        of vehicles as well as weather conditions. A block paving driveway
        is a good option for homeowners because it is durable and can be
        customized to fit their needs.
     </p>
      <p class="mb-4">
        Block paving also creates beautiful patios, there are plenty of
        benefits to be had.
      </p>
      <p class="mb-4">
        Perhaps the most obvious benefit is that block paving is incredibly
        durable and can last for many years with minimal maintenance. This
        makes it a great choice for homeowners who want a patio that will
        last for a long time without requiring a lot of upkeep.

      </p>
 
    </Fragment>
  </ImageOnRight>


  <ImageBlock
  background={blockBg}  
  title="The Benefits of Block Paving"
  ImageAlt=" The Benefits of Block Paving"
  >
  <div slot="ctaContent" class="text-left"> 
    <p class="text-white text-lg text-center">If you are thinking about installing block paving for your home,
        here are some of the key benefits that you should keep in mind.</p>
    <div class="mx-auto mt-16 lg:max-w-7xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Versatile</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Block paving is a versatile material that can be used for a
            variety of applications, including driveways, patios, and
            paths. It is made from block-shaped pieces of concrete or
            other materials that are laid in a specific pattern to create
            a paved surface. This type of paving is often chosen for its
            durability and low maintenance requirements.</dd>
        </div>
        
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Attractive</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Block paving driveways are also a very attractive option and
            can add value to your home. Block paving is available in many
            different patterns, colours and styles, so you can find the
            perfect option to match your home.</dd>
        </div>
 
          <div class="relative pl-16 lg:col-span-2">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>
            
                  
              </div>
              <span class="text-2xl text-white font-bold">Low Maintenance</span>
            </dt>
            <dd class="mt-2 text-xl text-gray-200"> 
                Block paving is a great material to use for driveways and
                patios because it is easy to clean and does not require
                regular sealing or staining like some other materials. The
                paving slabs can be hosed down or swept clean, and they will
                not fade or chip over time. This makes block paving driveways
                a low-maintenance option that is perfect for busy homeowners
                who don't have time to worry about upkeep.</dd>
          </div>
        
      </dl>
    </div>
 
  </div>
</ImageBlock>
 

<CallToAction
background={heroBg}  
title="Free Quote for Block Paving in Bobbingworth"
ImageAlt="Resin patios"
linkText="Get a Free Quote"
href="/contact">
<div slot="ctaContent"> 
  <p class="mt-6 mb-4 lg:text-xl">
    If you are a homeowner in Bobbingworth, contact us today to request an appointment and we will supply you with a free no obligation quote for your block paving project, whether it's for a driveway, patio or pathway. We also supply resin driveways and pathways, as well as tarmac and block paving.
</p>

</div>
</CallToAction>

    <ImageOnRight
    
    title="How Block Paving is Installed"
    image={block2} 
    imageAlt="block Paving Patios and driveways"
    height={500} 
    width={500}
    href="/contact"
    linkText="Get a FREE Site Survey"
      >
    <Fragment slot="content" >
   
      <p class="mt-4">
        Block paving is installed by first creating a foundation of sorts. This
        is usually done by excavating the area and laying down a layer of
        hardcore. After the foundation is created, the block pavers are laid
        down and aligned properly in order to create a uniform look.
     </p>
      <p class="mb-4">
        Mortar is then applied between each paver, which helps to hold them in
        place. Once everything is in place, the mortar needs to dry for a few
        days before the block paving can be used.
     </p>
      <p class="mb-4">
       Bespoke Driveways and Landscaping are experienced block paving contractors, with many
       satisfied customers in Essex and the south east.
      </p>
      <p class="mb-4">
        Get in touch with us today for a free no obligation quote for your
        project.
      </p>
  
    </Fragment>
  </ImageOnRight>

  <ImageOnLeft
    
  title="Block Paving - Add Style and Individuality to Your Home in Bobbingworth"
  image={block3}
  imageAlt="Block Paving driveways"
  height={600} 
  width={600}
  
    >
  <Fragment slot="content" >
 
    <p class="mt-4">
        As block paving becomes ever more popular, more and more homeowners in Bobbingworth are
        looking to add it to their properties in order to enhance the appearance
        and individuality of their home. 
         </p>
    <p class="mb-4">
        Block paving is a great way to add style and character, and there are a range of colours and styles to
        choose from, meaning you can find the perfect option for your home.
    </p>
    <p class="mb-4">
        Block paving is also a very practical option, as it is durable and easy
        to maintain. It can be used for both driveways and patios, and is
        perfect for those who want a hard wearing surface that will last for
        many years. 
    </p>
    <p class="mb-4">
     So if you're looking for a way to add some extra style and
        personality to your home, block paving is definitely the solution for
        you. Bespoke Driveways and Landscaping are experienced block paving contractors, and
        all our driveways are fully guaranteed for 10 years.
    </p>

  </Fragment>
</ImageOnLeft>


  <GetaQuote 
  background={heroBg}
  href="/contact"
  linkText="Free Survey in Bobbingworth"
  > 

  <div slot="quoteContent"> 
    <p><span class="font-bold text-white text-xl">Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service for homeowners in Bobbingworth.</span> <br />
        Our experienced team will visit your property to assess your specific requirements and discuss your vision for your block paving project. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your patio today – schedule your free home survey with us and let's bring your vision to life.</p>

  </GetaQuote>
 



</Layout>  

