---
export const prerender = true;
import { Image } from 'astro:assets'

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import WideHero from "../components/Hero/Hero.astro";
import ImageBlock from "../components/ImageBlock.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Areas from "../components/areas.astro";
import GetaQuote from "../components/GetaQuote.astro";

import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import LargeTitle from "../components/Headings/LargeTitle.astro";
import UspSection from "../components/Usp.astro";
import SmallSubTitle from "../components/Headings/SmallSubTitle.astro";

import ContactSection from "../components/ContactSection.astro";

import heroBg from "../assets/images/block1.png";
import extension3 from "../assets/images/extension3.png";
import fence1 from "../assets/images/fence1.png";
import returf1 from "../assets/images/returf2.png";
import decking1 from "../assets/images/decking1.png";
import lawn1 from "../assets/images/lawn2.png";
import design1 from "../assets/images/design1.png";
import resinDrive2 from "../assets/images/drive2.png";
import resinPatio1 from "../assets/images/patio1.png";
import block from "../assets/images/block1.png";
import tarmac from "../assets/images/tarmac1.png";
import BlockDrive1 from "../assets/images/blockpaving1.png";
import Landscape1 from "../assets/images/landscape1.png";
import grassBg from "../assets/images/grassbg1.png";
import resinImg1 from "../assets/images/artificial1.pngresin-img-2.png";
import block3 from "../assets/images/block-img-3.png";
import tarmacBg from "../assets/images/tarmac-bg4.png";
import blockBg from "../assets/images/block-bg1.png";

import resinImg2 from "../assets/images/resin-img-landscape.png";

import extension9 from "../assets/images/extension9.png";
import extension7 from "../assets/images/extension7.png";
import clearance from "../assets/images/clearance.png";
---

<Layout title={`Block Paving Driveways | Bespoke Driveways and Landscaping`} description={`Classic block paving driveways. Extremely durable and easy to maintain. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>




<Hero
title="Block Paving Driveways" 
sub="The Versatile & Stylish Driveway Solution"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
    <p class="mt-6 lg:text-2xl">
        Block paving continues to be a favored choice among homeowners for driveways due to its versatility and aesthetic appeal.
    </p> 
      <p class="mb-4 lg:text-2xl">
        With the ability to create unique patterns and designs, block paving offers homeowners the opportunity to customize their driveways to match their style and preferences.      </p> 

  
</div>  
</Hero>

 
<Areas />

	<ImageOnRight
    
    title="Block Paving - Versatility and Durability"
    image={BlockDrive1} 
    imageAlt="Tarmac Driveways"
    height={700} 
    width={700}
 
  >
    <Fragment slot="content" >
      <p class="my-4">
        One of the key attractions of block paving is its versatility in patterns. Blocks can be laid in various arrangements, giving homeowners complete control over the appearance of their driveways. Whether you prefer a traditional herringbone pattern or a more contemporary design, block paving allows you to create a bespoke look that enhances the overall aesthetic of your home.
     </p>
     <p class="my-4">
      Block paving's appeal lies not only in its diverse patterns but also in its durability. The interlocking blocks create a sturdy surface resistant to heavy use, ensuring your driveway maintains its integrity over time. This robust construction means you can enjoy a beautiful driveway without worrying about damage or deterioration.
     </p>
    
      <p class="mb-4">
        Additionally, block paving requires minimal maintenance, offering homeowners convenience and peace of mind. With simple cleaning techniques such as sweeping or pressure washing, you can keep your driveway looking fresh and vibrant. And if any individual blocks do require attention, they can be easily replaced without extensive repairs, making maintenance hassle-free. Block paving combines durability and ease of maintenance, providing a practical and attractive solution for your driveway needs.
      </p>
 
    </Fragment>
  </ImageOnRight>

  
  <ImageBlock
  background={blockBg}  
  title="Benefits of Block Paving"
  ImageAlt="Benefits of block paving"
  >
  <div slot="ctaContent" class="text-left"> 
    <div class="mx-auto mt-16 lg:max-w-7xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-xl lg:text-2xl text-white font-bold">Style and Individuality</span>
          </dt>
          <dd class="mt-2 lg:text-xl text-gray-200"> 
            Block paving from UK Resin Solutions offers homeowners the perfect way to add style and individuality to their homes. With a wide variety of patterns and colors available, you can create a one-of-a-kind look that enhances your curb appeal and gives your home a fresh new appearance.
         </dd>
        </div>
        
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-xl lg:text-2xl text-white font-bold">   Durability</span>
          </dt>
          <dd class="mt-2 lg:text-xl text-gray-200"> 
         Block paving is known for its durability and resilience, making it a long-lasting driveway solution for homeowners. With proper installation and maintenance, block paving driveways can withstand the test of time and continue to look great for years to come.
        </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-xl lg:text-2xl text-white font-bold">  Customization</span>
          </dt>
          <dd class="mt-2 lg:text-xl text-gray-200"> 
          Block paving allows for endless customization options, allowing homeowners to create a driveway that reflects their unique style and personality.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-xl lg:text-2xl text-white font-bold">  Enhanced Curb Appeal</span>
          </dt>
          <dd class="mt-2 lg:text-xl text-gray-200"> 
           The aesthetic appeal of block paving can significantly enhance the curb appeal of your home, making it more attractive to potential buyers and increasing its overall value.
</dd>
        </div>
          
      </dl>
    </div>
 
  </div>
</ImageBlock>
 
	


  <div class="mx-auto max-w-7xl px-8 lg:mt-20  overflow-hidden">
    <LargeTitle>Value, Style and Strength</LargeTitle>

    <p class="my-6 lg:text-lg text-gray-700">
      Transform your home's exterior with the aesthetic charm of block paving. Whether you're looking to create a welcoming entrance or upgrade your outdoor space, block paving offers endless design possibilities. From classic brick patterns to contemporary geometric layouts, you can choose the perfect style to complement your home's architecture and landscaping.

    </p>
  </div>


    <ImageOnRight
    
    title="Long-lasting Curb Appeal"
    image={block3} 
    imageAlt="block paving driveways"
    height={600} 
    width={600}
 
  >
    <Fragment slot="content" >
    
      <p class="my-4">
        Transform your home's exterior with the aesthetic charm of block paving. Whether you're looking to create a welcoming entrance or upgrade your outdoor space, block paving offers endless design possibilities. From classic brick patterns to contemporary geometric layouts, you can choose the perfect style to complement your home's architecture and landscaping.

      </p>
      <p class="mb-4">
        Investing in block paving means investing in the long-term beauty and durability of your driveway or patio. The interlocking blocks create a strong and stable surface that can withstand the elements and heavy use, ensuring your outdoor space remains attractive and functional for years to come. With minimal maintenance required, block paving offers homeowners peace of mind knowing their driveway or patio will maintain its appearance and value over time.

      </p>
      <p class="mb-4">
     
        With block paving, you have the opportunity to create a truly unique and personalized outdoor space. Whether you prefer a traditional look or want to make a bold statement with a contemporary design, block paving allows you to express your individuality and create a space that reflects your personality and lifestyle. With a wide range of colors, shapes, and patterns to choose from, you can design a driveway or patio that is as unique as you are.
      </p>
 
    </Fragment>
  </ImageOnRight>


  <GetaQuote 
  background={heroBg}
  href="/contact"
  linkText="Talk to an Expert"
  >

  <div slot="quoteContent"> 
    <p>Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service. Our experienced team will visit your property to assess your specific requirements and discuss your vision for your block paving driveway. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your driveway today – schedule your free home survey with us and let's bring your vision to life.</p>

  </GetaQuote>
 



</Layout>  

