---
export const prerender = true;
import { Image } from 'astro:assets'

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import WideHero from "../components/Hero/Hero.astro";
import ImageBlock from "../components/ImageBlock.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import LargeTitle from "../components/Headings/LargeTitle.astro";
import UspSection from "../components/Usp.astro";
import ContactSection from "../components/ContactSection.astro";
import GetaQuote from "../components/GetaQuote.astro";

import heroBg from "../assets/images/drive-large.png";
import extension3 from "../assets/images/extension3.png";
import fence1 from "../assets/images/fence1.png";
import returf1 from "../assets/images/returf2.png";
import decking1 from "../assets/images/decking1.png";
import lawn1 from "../assets/images/lawn2.png";
import design1 from "../assets/images/design1.png";
import resinDrive2 from "../assets/images/drive2.png";
import resinPatio1 from "../assets/images/patio1.png";
import block from "../assets/images/block1.png";
import tarmac from "../assets/images/tarmac1.png";
import Drive5 from "../assets/images/drive-img-5.png";
import Landscape1 from "../assets/images/landscape1.png";
import grassBg from "../assets/images/grassbg1.png";
import Areas from "../components/areas.astro";

import extension9 from "../assets/images/extension9.png";
import extension7 from "../assets/images/extension7.png";
import clearance from "../assets/images/clearance.png";
---

<Layout title={`Bespoke Driveways and Landscaping | Resin bound driveways and patios and complete landscaping solutions in London and Essex`} description={`We provide quality surfacing solutions and landscaping services to transform your outdoor space throughout Essex, North, South and East London.`}>




<Hero
title="Bespoke Driveways and Landscaping"
sub="Quality Driveway & Landscaping Services"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 


  <p class="mt-6 mb-4 lg:text-2xl">
    From resin bound driveways and patios, to complete garden transformations, we're passionate about transforming outdoor areas into stunning focal points that reflect your style and enhance your living experience.
  </p> 

  
</div>  
</Hero>

 
<Areas />


		
<div class="mt-20">

  <LargeTitle
  textAlign="center">
  The Ultimate Surfacing Solution
</LargeTitle>
 
	<ImageOnRight
    
    title="Resin Bound Driveways & Patios"
    image={Drive5} 
    imageAlt="Resin Bound Driveways & Patios"
    height={500} 
    width={500}
 
  >
    <Fragment slot="content" >
      <p class="my-4">
        Resin bound driveways, and resin bound patios, are becoming a poplular surfacing solution for homeowners. As well as being extremely durable and easy to maintain, they can add value to your home and can improve its appearance significantly.
      </p>
      <p class="mb-4">
        Unlike traditional surfacing materials that can crack or fade over time, resin-bound drives and patios are constructed using a tough material that boasts superior weatherproofing qualities. This means that your outdoor space will not only retain its pristine appearance but will also withstand the harshest weather conditions for years to come.
      </p>
 
      <p class="mb-4">
        With their seamless finish and resistance to UV damage, resin bound surfaces offer a long-term solution for homeowners seeking both practicality and aesthetics in their outdoor areas. 
      </p>
 
    </Fragment>
  </ImageOnRight>

  <div class="mb-10 lg:mb-0">
  <LargeTitle
  textAlign="center">
  Transforming Outdoor Spaces
</LargeTitle>
</div>
 
	<ImageOnLeft
    
    title="Professional Landscaping Services"
    image={Landscape1} 
    imageAlt="Professional Landscaping Services"
    height={500} 
    width={500}
  >
    <Fragment slot="content" >
      <p class="my-4">
        Transform your outdoor space into a breathtaking retreat with our expert landscaping services. At Bespoke Driveways and Landscaping, we understand that your outdoor area is an extension of your home, and we're dedicated to making it as beautiful and inviting as possible.
            </p>
      <p class="mb-4">
        Our comprehensive landscaping services encompass everything from initial consultation and design to installation and ongoing maintenance. With attention to detail and a commitment to quality craftsmanship, we'll ensure that every aspect of your outdoor oasis is thoughtfully planned and executed, resulting in a space that you'll love to spend time in for years to come.
      </p>
      <p class="mb-4">
      
        Let's create your perfect outdoor escape. With our attention to detail and passion for quality, your outdoor space will become a stunning retreat you'll love.
      </p>
 

 
    </Fragment>
  </ImageOnLeft>

</div>



  <div class="mx-auto max-w-7xl px-8 lg:mt-10  overflow-hidden">
    <LargeTitle>Driveways & Patios </LargeTitle>
  
  <div
  class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
  >
  <div class="flex flex-col  mb-10">
    <Image
      src={resinDrive2}
      class="w-full overflow-hidden rounded-lg"
      alt="Rubber roofs - durable EPDM roofing"
      width={600}
      height={300}
      format="webp"
    />
    
   <h3 class="text-green-800 text-xl lg:text-3xl font-bold py-4">Resin Driveways</h3>
  <p class="lg:text-lg text-gray-700">Resin driveways are becoming a poplular surfacing solution for homeowners. As well as being extremely durable and easy to maintain - making them ideal for busy households - they can add value to your home and can improve its appearance significantly.
  </p>
  <div class="w-1/2">
    <Button
    href="/resin-driveways">Find Out More</Button> 
    </div>
  </div> 

  
  
  <div class="flex flex-col  mb-10">
    <Image
      src={resinPatio1}
      class="w-full overflow-hidden rounded-lg"
      alt="Rubber roofs - durable EPDM roofing"
      width={600}
      height={300}
      format="webp"
    />
    
   <h3 class="text-green-800 text-xl lg:text-3xl font-bold py-4">Resin Patios</h3>
  <p class="lg:text-lg text-gray-700">Like driveways, resin bound aggregate offers the perfect surfacing material for great looking patios and pathways too with the same permeable qualities which make this the ideal surfacing option for flood risk areas.
  </p>
  <div class="w-1/2">
    <Button
    href="/resin-patios">Find Out More</Button> 
    </div>
  </div> 

  
  
 
  
  <div class="flex flex-col  mb-10">
    <Image
      src={block}
      class="w-full overflow-hidden rounded-lg"
      alt="Rubber roofs - durable EPDM roofing"
      width={600}
      height={300}
      format="webp"
    />
    
   <h3 class="text-green-800 text-xl lg:text-3xl font-bold py-4">Block Paving</h3>
  <p class="lg:text-lg text-gray-700">Block paving remains a popular option for many homeowners when it comes to driveways. One of the main attractions is that blocks can be laid in various patterns, giving you complete control over how they appear and creating your own bespoke design.
  </p>
  <div class="w-1/2">
    <Button
    href="/block-paving-driveways">Find Out More</Button> 
    </div>
  </div> 

  
  
  <div class="flex flex-col  mb-10">
    <Image
      src={tarmac}
      class="w-full overflow-hidden rounded-lg"
      alt="Rubber roofs - durable EPDM roofing"
      width={600}
      height={300}
      format="webp"
    />
    
   <h3 class="text-green-800 text-xl lg:text-3xl font-bold py-4">Tarmac</h3>
  <p class="lg:text-lg text-gray-700">Tarmac is the ideal solution if you're looking for a quick, easy and cost-effective way to give your driveway or path a makeover. Tarmac is a extremely durable surface material that can withstand all weather conditions, making it ideal for the British climate.
  </p>
  <div class="w-1/2">
    <Button
    href="/tarmac-driveways">Find Out More</Button> 
    </div>
  </div> 

 </div>
  </div>

  <CallToAction
  background={grassBg}  
  title="Landscaping Services"
  ImageAlt="Landscaping Services"
  linkText="Find Out More"
  href="/landscaping">
  <div slot="ctaContent"> 
    <p class="mt-6 mb-4 lg:text-xl">
      Whether you're looking to enhance your home's curb appeal or create a functional outdoor living area, we have the expertise to exceed your expectations.
  </p>
 
  </div>
</CallToAction>

<GetaQuote 
background={heroBg}
href="https://s1nv1eyyibf.typeform.com/to/oiUMErhg"
linkText="Talk to an Expert"
>

<div slot="quoteContent"> 
  <p>Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service. Our experienced team will visit your property to assess your specific requirements and discuss your vision for your project. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your driveway today – schedule your free home survey with us and let's bring your vision to life.</p>

</GetaQuote>

</Layout>       

