---
export const prerender = true;
import { Image } from 'astro:assets'
const town = "Hockley";

import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../../components/Content/ImageOnRight.astro"; 
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import GetaQuote from "../../components/GetaQuote.astro";

import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import LargeTitle from "../../components/Headings/LargeTitle.astro";
import UspSection from "../../components/Usp.astro";
import SmallSubTitle from "../../components/Headings/SmallSubTitle.astro";

import Areas from "../../components/areas.astro";
import blockBg from "../../assets/images/block-bg1.png";
import tarmacBg from "../../assets/images/tarmac-img-11.webp";

import heroBg from "../../assets/images/tarmac-bg2.png";
import extension3 from "../../assets/images/extension3.png";
import fence1 from "../../assets/images/fence1.png";
import returf1 from "../../assets/images/returf2.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn2.png";
import design1 from "../../assets/images/design1.png";
import resinDrive2 from "../../assets/images/drive2.png";
import resinPatio1 from "../../assets/images/patio1.png";
import block from "../../assets/images/block1.png";
import tarmac from "../../assets/images/tarmac1.png";
import Patio6 from "../../assets/images/patio-img-6.png";
import Landscape1 from "../../assets/images/landscape1.png";
import grassBg from "../../assets/images/grassbg1.png";
import resinImg1 from "../../assets/images/artificial1.pngresin-img-2.png";
import resin from "../../assets/images/resin-close.png";
import Patio2 from "../../assets/images/patio-img-2.png";
import resinImg2 from "../../assets/images/resin-img-landscape.png";
import BlockDrive1 from "../../assets/images/blockpaving1.png";
import block3 from "../../assets/images/block-img-3.png";
import tarmac2 from "../../assets/images/tarmac2.png";
import tarmac6 from "../../assets/images/tarmac-img-6.webp";

import Drive5 from "../../assets/images/tarmac-img-8.webp";

import extension9 from "../../assets/images/extension9.png";
import extension7 from "../../assets/images/extension7.png";
import clearance from "../../assets/images/clearance.png";
---

<Layout title={`Tarmac Driveways Hockley | Bespoke Driveways and Landscaping`} description={`Durable Tarmac Driveways in Hockley. Extremely durable and easy to maintain. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>




<Hero
title="Tarmac Driveways Hockley"
sub="Affordable All-Weather Driveway Solutions in Hockley"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="mt-6 lg:text-2xl">
    Tarmac driveways have been used for many years and are a popular choice for both home and business owners. Tarmac is the ideal solution if you're looking for a quick, easy and cost-effective way to give your driveway or path a makeover.
  </p> 


  
</div>  
</Hero>

<Areas />


	<ImageOnRight
    
   title="Tarmac Driveways Hockley"
    image={Drive5}
    imageAlt="Tarmac Driveways"
    height={500} 
    width={500}
    href="/contact"
    linkText="GET A FREE HOME SURVEY"
  >
    <Fragment slot="content" >
    
      
        <p class="mb-4">
            If you're a homeowner in Hockley, you'll know that keeping your property looking its best can be a challenge. Between the weather and the constant traffic, your driveway and path can quickly become worn and faded.
      </p>
      <p class="mb-4">
        Tarmac is the perfect solution to this problem, as it is a durable surface material that can withstand all weather conditions, making it ideal for British climate. Tarmac surfacing is also low maintenance, meaning it will save you time and money in the long run.
     </p>
     <p class="mb-4">
        Tarmac is renowned for its unparalleled durability, capable of withstanding all weather conditions without deterioration.
     </p>
     <p class="mb-4">
        Its robust nature ensures that your driveway maintains its integrity and appearance for years to come, even in the face of heavy rain, snow, or extreme temperatures.

    </p>
 
    </Fragment>
  </ImageOnRight>


  <ImageBlock
  background={tarmacBg}  
  title="Benefits of a Tarmac Driveway "
  ImageAlt="Benefits of a Tarmac Driveway "
  >
  <div slot="ctaContent" class="text-left"> 
    <p class="text-white text-lg text-center">Tarmac driveways are becoming increasingly popular in the UK because they offer a number of benefits that other types of driveways don't.</p>
    <div class="mx-auto mt-16 lg:max-w-7xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Durable</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            One of the biggest benefits of a tarmac driveway is that it is incredibly durable and long lasting. Tarmac is a type of asphalt, and as such it is resistant to weathering and staining. This means that your driveway will look great for years to come, no matter what the weather throws at it. Tarmac is also resistant to oil and petrol spills, so you don't have to worry about any nasty messes ruining your driveway. Tarmac is a strong material that can withstand the weight of vehicles, making it a perfect choice for driveways and also car parks.</dd>
        </div>
        
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Low Maintenance</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Tarmac is a very low maintenance surface and is one of the most popular choices for driveways. All you need to do is sweep them regularly and apply a coat of asphalt sealant every few years.

                        This will protect your driveway from fading and staining, and it will keep it looking new for many years.
                        
                        Tarmac can also be resurfaced if it becomes damaged, which makes it a cost-effective option in the long run. Tarmac can be easily cleaned with a simple sweep or hose down, so you can keep it looking its best. </dd>
        </div>
 
          <div class="relative pl-16 lg:col-span-2">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>
            
                  
              </div>
              <span class="text-2xl text-white font-bold">Choice of Colour to Match Your Home's Exterior</span>
            </dt>
            <dd class="mt-2 text-xl text-gray-200"> 
                New tarmac driveways can be installed in any colour to match your home's exterior. This makes it a seamless addition to your property and gives it a finished look.
                      </dd>
          </div>
        
      </dl>
    </div>
 
  </div>
</ImageBlock>
 

<CallToAction
background={heroBg}  
title="Free Quote for Tarmac Driveways in Hockley"
ImageAlt="Resin patios"
linkText="Get a Free Quote"
href="/contact">
<div slot="ctaContent"> 
  <p class="mt-6 mb-4 lg:text-xl">
    If you are a homeowner in Hockley, contact us today to request an appointment and we will supply you with a free no obligation quote for your tarmac driveway. We also supply resin driveways and pathways, as well as tarmac and block paving.
</p>

</div>
</CallToAction>

    <ImageOnRight
    
    title="Tarmac Driveways - The Perfect Solution for a Durable, Low-Maintenance Surface"
    image={tarmac2} 
    imageAlt="Tarmac Driveways"
    height={700} 
    width={700}
    
      >
    <Fragment slot="content" >
   
      <p class="mt-4">
        If you're looking for a driveway that is tough, low-maintenance, and looks great, you can't go wrong with Tarmac. Tarmac driveways are perfect for homeowners in Hockley who want a durable surface that will last for years without requiring a lot of upkeep. 
     </p>
      <p class="mb-4">
        Tarmac is made of a mix of stones and hot tar, which creates a surface that is both strong and weather-resistant. The base course of tarmac is the layer that is placed directly on the ground. It is made up of large stones that are packed tightly together to create a solid surface. The base course is important as it provides a stable foundation for the rest of the driveway.
     </p>
      <p class="mb-4">
        The binder course is the next layer of tarmac and it is responsible for bonding the driveway to the base course. It is made up of a thinner layer of tarmac that is mixed with a bonding agent. This layer helps to prevent cracks and ensure that the driveway lasts for years to come.      </p>
      <p class="mb-4">
        Tarmac can withstand heavy traffic without becoming damaged, and it doesn't need to be sealed or painted like some other types of driveways. This makes Tarmac a cost-effective option in the long run, as you won't have to spend time or money on upkeep.      </p>
  
    </Fragment>
  </ImageOnRight>

  <ImageOnLeft
    
  title="Tarmac Driveways - The Ideal Solution for the British Climate in Hockley"
  image={tarmac6}
  imageAlt="Block Paving driveways"
  height={600} 
  width={600}
  href="/contact"
  linkText="GET A FREE QUOTE TODAY"
    >
  <Fragment slot="content" >
 
    <p class="my-4">
        When it comes to driveways in Hockley, there is no better option for the British climate than tarmac - a hard-wearing surface that can withstand even the harshest weather conditions, making it the perfect choice for driveways in the UK.
         </p>
    <p class="mb-4">
        If you're looking for a high-quality driveway that will stand up to the British weather, then a Tarmac drive is the best option available. Tarmac is tough and resilient, and it will keep your driveway looking great for many years to come. Contact Bespoke Driveways and Landscaping for a free quote today.
    </p>
 

  </Fragment>
</ImageOnLeft>


  <GetaQuote 
  background={heroBg}
  href="/contact"
  linkText="Free Survey in Hockley"
  > 

  <div slot="quoteContent"> 
    <p><span class="font-bold text-white text-xl">Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service for homeowners in Hockley.</span> <br />
        Our experienced team will visit your property to assess your specific requirements and discuss your vision for your tarmac driveway project. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your patio today – schedule your free home survey with us and let's bring your vision to life.</p>

  </GetaQuote>
 



</Layout>  

