---
export const prerender = true;
import { Image } from 'astro:assets'
const town = "Barking and Dagenham";

import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../../components/Content/ImageOnRight.astro"; 
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import GetaQuote from "../../components/GetaQuote.astro";

import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import LargeTitle from "../../components/Headings/LargeTitle.astro";
import UspSection from "../../components/Usp.astro";
import SmallSubTitle from "../../components/Headings/SmallSubTitle.astro";

import Areas from "../../components/areas.astro";

import heroBg from "../../assets/images/drive-large.png";
import extension3 from "../../assets/images/extension3.png";
import fence1 from "../../assets/images/fence1.png";
import returf1 from "../../assets/images/returf2.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn2.png";
import design1 from "../../assets/images/design1.png";
import resinDrive2 from "../../assets/images/drive2.png";
import resinPatio1 from "../../assets/images/patio1.png";
import block from "../../assets/images/block1.png";
import tarmac from "../../assets/images/tarmac1.png";
import Drive5 from "../../assets/images/drive-img-5.png";
import Landscape1 from "../../assets/images/landscape1.png";
import grassBg from "../../assets/images/grassbg1.png";
import resinImg1 from "../../assets/images/artificial1.pngresin-img-2.png";
import resin from "../../assets/images/resin-close.png";
import Drive6 from "../../assets/images/drive-img-6.png";
import resinImg2 from "../../assets/images/resin-img-landscape.png";

import extension9 from "../../assets/images/extension9.png";
import extension7 from "../../assets/images/extension7.png";
import clearance from "../../assets/images/clearance.png";
---

<Layout title={`Resin Driveways Barking and Dagenham | Bespoke Driveways and Landscaping`} description={`Stunning resin driveways in Barking and Dagenham. Extremely durable and easy to maintain. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>




<Hero
title="Resin Driveways Barking and Dagenham"
sub="The Ultimate Driveway Solution in Barking and Dagenham"
linkText="Get a Quote Today"
href="/contact"
image={heroBg}

>
<div slot="heroContent"> 
  <p class="mt-6 lg:text-2xl">
    Engineered to withstand the test of time, discover the perfect blend of durability and elegance with our resin driveways. 
  </p> 
  <p class="mb-4 lg:text-2xl">
    Say goodbye to cracks and fading, and hello to a driveway that will enhance the curb appeal of your home for years to come. 
  </p> 


  
</div>  
</Hero>

<Areas />

	<ImageOnRight
    
    title="Resin Bound Driveways Barking and Dagenham"
    image={Drive5} 
    imageAlt="Resin Bound Driveways"
    height={500} 
    width={500}
 
  >
    <Fragment slot="content" >
      <p class="my-4">
        Resin driveways are the perfect solution for homeowners in Barking and Dagenham who want their driveways to be both durable and permeable.
     </p>
      <p class="mb-4">
        Unlike traditional surfacing materials that can crack or fade over time, resin-bound drivways are constructed using a tough material that boasts superior weatherproofing qualities. This means that your outdoor space will not only retain its pristine appearance but will also withstand the harshest weather conditions for years to come.
      </p>
 
      <p class="mb-4">
        The aggregates are thoroughly mixed together prior to laying, ensuring that the surface has been completely coated with a protective layer of resin which will prevent anything from sticking or scraping it while also meeting Sustainable Urban Drainage Systems (SUDS) standards, which are designed to prevent standing water and and potential floods.
      </p>
        <p class="mb-4">
        As well as the practical benefits, resin driveways look stunning too, making them the ultimate surfacing solution for any home.
        
      </p>
      <p class="mb-4">
       
        Resin bound surfaces are also perfect for use in car parks as they are hard wearing and long lasting. So if you are a business based in Barking and Dagenham, contact us for more information.
      </p>
 
    </Fragment>
  </ImageOnRight>

  	
<CallToAction
background={heroBg}  
title="Free Quote for Resin Driveways in Barking and Dagenham"
ImageAlt="Resin Driveways"
linkText="Get a Free Quote"
href="/contact">
<div slot="ctaContent"> 
  <p class="mt-6 mb-4 lg:text-xl">
    If you are a homeowner in Barking and Dagenham, contact us today to request an appointment and we will supply you with a free no obligation quote for your Resin Driveway project. We also supply resin driveways, patios and pathways, as well as tarmac and block paving.
</p>

</div>
</CallToAction>

  
  <ImageBlock
  background={resinImg2}  
  title="Benefits of Resin Bound Surfaces"
  ImageAlt="Benefits of Resin Bound Surfaces"
  >
  <div slot="ctaContent" class="text-left"> 
    <p class="text-white text-lg text-center">Resin driveways have many benefits over other materials such as asphalt or concrete.</p>
    <div class="mx-auto mt-16 lg:max-w-7xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Reduced Flood Risk</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Resin surfaces are permeable so allow water to seep through the surface making it ideal for flood risk areas.</dd>
        </div>
        
        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Anti-slip Surface</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Resin is also the ideal anti-slip surface which makes it safer to walk and drive on.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">Resistant to Weed Growth</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Despite being permeable, resin surfaces are also weed resistent so weeds cannot grow through resin surfaces.</dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold  text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
              </svg>
          
                
            </div>
            <span class="text-2xl text-white font-bold">UV Resistant</span>
          </dt>
          <dd class="mt-2 text-xl text-gray-200"> 
            Resin is available in a variety of colours that will not fade when exposed to UV light. This makes resin an ideal material for outdoor applications.</dd>
        </div>

        <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>
            
                  
              </div>
              <span class="text-2xl text-white font-bold">Durable</span>
            </dt>
            <dd class="mt-2 text-xl text-gray-200"> 
                Resin bound driveways are hard wearing and long lasting. A SUDS compliant resin drive will last for many years with little maintenance required.</dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>
            
                  
              </div>
              <span class="text-2xl text-white font-bold">Easy to Clean</span>
            </dt>
            <dd class="mt-2 text-xl text-gray-200"> 
                Resin driveways are easy to keep clean and free of dirt and debris.</dd>
          </div>

          <div class="relative pl-16 lg:col-span-2">
            <dt class="text-base font-semibold  text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-green-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                </svg>
            
                  
              </div>
              <span class="text-2xl text-white font-bold">Attractive</span>
            </dt>
            <dd class="mt-2 text-xl text-gray-200"> 
                Resin bound surfacing can add value to your home and improve its appearance significantly, as well as coming in a range of colour options.</dd>
          </div>
        
      </dl>
    </div>
 
  </div>
</ImageBlock>
 


  <div class="mx-auto max-w-7xl px-8 lg:mt-20  overflow-hidden">
    <LargeTitle>Make a Lasting Impression</LargeTitle>

    <p class="my-6 lg:text-lg text-gray-700">Your driveway is more than just a pathway to your home - it's the first impression visitors have of your property, and it sets the tone for the rest of your outdoor space. At Bespoke Driveways and Landscaping, we understand the importance of making that first impression count. That's why we specialize in crafting stunning resin driveways that not only enhance the curb appeal of your home but also stand the test of time. </p>
  </div>


    <ImageOnRight
    
    title="How Resin Driveways are Installed"
    image={resin} 
    imageAlt="Resin Bound Driveways"
    height={600} 
    width={600}
    href="/contact"
    linkText="Geta FREE Site Survey"
      >
    <Fragment slot="content" >
   
      <p class="mt-4">
        Resin driveways are installed in a similar way to other driveways, but the resin-coated aggregate is laid much thicker than traditional paving slabs.      </p>
      <p class="mb-4">
        The resin is mixed with the aggregate on site and then poured over the prepared surface, which is then compacted.
      </p>
      <p class="mb-4">
        Once the resin has set, the surface is complete and ready to use.
        With our professional, fast installation process, your new driveway will transform your property in no time at all.
      </p>
      <p class="mb-4">
        As well as the practical benefits, resin driveways look stunning too, making them the ultimate surfacing solution for any home.
      </p>
      <p class="mb-4">
        Bespoke Driveways and Landscaping specialise in creating stunning resin driveways. Our experts work hard to provide you with quality service and ensure your driveway will last for years.
      </p>
 
 
 
    </Fragment>
  </ImageOnRight>

  <ImageOnLeft
    
  title="How to Care for Your Resin Driveway in Barking and Dagenham"
  image={Drive6} 
  imageAlt="Resin Bound Driveways"
  height={500} 
  width={500}
  
    >
  <Fragment slot="content" >
 
    <p class="mt-4">
        Once your resin bound driveway is installed, it is important to take care of it properly to ensure that it lasts for many years. 
     </p>
    <p class="mb-4">
        Here are a few tips on how to care for your resin driveway:
    </p>
    <ul class="list-disc">
        <li class="mb-4 font-bold">- Keep the surface clean and free of dirt and debris. Regularly sweep or hoover the to prevent any build-up.</li>
        <li class="mb-4 font-bold">- If any stains or marks occur, clean them with a damp cloth immediately. Do not use any harsh chemicals or abrasive cleaning products as they may damage the surface of the resin.</li>
        <li class="mb-4 font-bold">- If the driveway becomes wet, allow it to dry naturally. Do not try to dry it with a blowtorch or any other type of heat source as this may damage the resin.</li>
        <li class="mb-4 font-bold">- Protect the driveway from heavy traffic and sharp objects.
        </li>
    </ul>     

  </Fragment>
</ImageOnLeft>


  <GetaQuote 
  background={heroBg}
  href="/contact"
  linkText="Free Survey in Barking and Dagenham"
  >

  <div slot="quoteContent"> 
    <p><span class="font-bold text-white text-xl">Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service for homeowners in Barking and Dagenham.</span> <br />
        Our experienced team will visit your property to assess your specific requirements and discuss your vision for your resin driveway. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your driveway today – schedule your free home survey with us and let's bring your vision to life.</p>

  </GetaQuote>
 



</Layout>  

